<mat-toolbar
  color="primary"
  class="mat-elevation-z6"
>
  <div
    class="content-container header-container"
    style="flex-grow: 1"
  >
    <span>Topic Path Editor</span>
    <span style="flex: 1 1 0"></span>
    <a
      mat-icon-button
      href="https://github.com/Di-Strix/mqtt-dashboard-topic-modifier"
      target="_blank"
    >
      <img
        src="../assets/github-mark-white.svg"
        alt="GitHub logo"
      />
    </a>
  </div>
</mat-toolbar>

<div
  class="content-container pipeline-container"
  [formGroup]="input"
>
  <mat-form-field
    appearance="outline"
    subscriptSizing="dynamic"
  >
    <mat-label>Конфигурация интерфейса</mat-label>
    <textarea
      formControlName="baseConfig"
      matInput
      wrap="hard"
      placeholder="Вставьте сюда конфигурацию интерфейса MQTT-Dashboard"
      rows="5"
    ></textarea>
    <button
      matSuffix
      mat-icon-button
      [disabled]="!input.controls.baseConfig.value"
      (click)="input.controls.baseConfig.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    subscriptSizing="dynamic"
  >
    <mat-label>Окончание топиков</mat-label>
    <input
      formControlName="suffix"
      matInput
      placeholder="Введите что нужно добавить"
    />
  </mat-form-field>

  <mat-icon
    class="pipe-sign"
    fontIcon="keyboard_double_arrow_down"
  ></mat-icon>

  <mat-form-field appearance="outline">
    <mat-label>Новая конфигурация</mat-label>
    <textarea
      [formControl]="output"
      matInput
      rows="5"
      [value]=""
      readonly="true"
      placeholder="Тут будет новая конфигурация интерфейса"
    ></textarea>
    <button
      mat-icon-button
      matSuffix
      [disabled]="output.invalid"
      (click)="copyOutput()"
    >
      <mat-icon matSuffix>content_copy</mat-icon>
    </button>
  </mat-form-field>
</div>
